/*Nav css goes here*/

/*End nav css*/

/*Hero*/
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url("images/bg.jpg") center no-repeat;
    background-size: cover;
}

.text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
}

.text h1{
    font-size: 8rem;
    margin: 2rem 0;
    font-family: 'Blastimo', sans-serif;
}

.text h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

.text p{
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.text .btn{
    font-size: 1.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #eee;
    text-transform: uppercase;
}

@media screen and (max-width: 830px){
    .text h1{
        font-size: 4rem;
    }

    .text .btn{
        font-size: 1.2rem;
    }
}
